{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <style>
        	*{
        		font-family:Arial, serif;
        	}
        	h1{
        		text-align:center;
        		margin-top:-20px;
        		text-decoration:underline;
        		size:25px;
        	}
        	h3{
        		text-decoration:underline;
        		color:red;
        	}
			#footer{	
				margin-top:50px;
				border:1px solid black;
				text-align:center;
			}
			#carte{
				text-align: center;
			}
		</style>
    </head>

    <body>
    	<h1><b>Alamud:</b> La Résidence Universitaire</h1>
    	
    	<p>
			<h3>Présentation:</h3> 
			Dans le cadre du module Conception Objet Orienté, nous vous présentons notre extension du mud alamud crée par <i>Deny Duchier</i>: 
			La Résidence Universitaire.<br/>
			Après vous êtes préalablement inscrit, vous incarnerez un jeune étudiant dans sa résidence universitaire. Vous aurez la possibilité de:<br/><br/>
				<ul>
	 				<li>Vous déplacer dans les étages et chambres de votre résidence.
	 				<li>Accéder à votre magnifique voiture.
	 				<li>Discuter avec vos voisins.
				</ul>
    	</p>
    	
    	<p>
    		Pour pas vous perdre nous mettons à votre disposition la carte de la résidence:
			<div id="carte"><IMG SRC="http://img15.hostingpics.net/pics/411774mape0.png"></div>
			<div id="carte"><IMG SRC="http://img15.hostingpics.net/pics/455086mape1.png"></div>
			<div id="carte"><IMG SRC="http://img15.hostingpics.net/pics/142969mape2.png"></div>
    	</p>
    	
    	<p>
    		<h3>Difficultés rencontrées:</h3>
    		<ul>
	 			<li>Commandes Gitlab.
	 			<li>Installation des paquets.
	 			<li>Recherche de bugs.
	 			<li>Manque de temps.
			</ul>
    	</p>
    	
		<p>
    		<h3>Points à améliorer:</h3>
    		<ul>
	 			<li>Améliorer le travail en équipe.
	 			<li>Savoir relire et comprendre le code d'autrui.
	 			<li>Estimer le temps de réalisation.
	 			<li>Comprendre ses propre erreurs pour mieux les corriger.
			</ul>
    	</p>
    	
    	
		<div id="footer">
			<hr>
			<p>Alamud crée par Denys Duchier.<br/>Extension par Sebastien Gortais & Pierre-Adrien Inizan.<br/>Projet Semestre 2 - Periode 3. 2014</p>
			<hr>
		</div>
    </body>
</html>

{% end %}
{% block js %}
selected_tab = "#tababout";
{% end %}

